version: 2.1

jobs:
  build_and_deploy_first_app:
    docker:
      - image: docker:20.10.8
    working_directory: /app1
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.8
      - run:
          name: Build and Push Docker Image
          command: |
            docker build -t pk051098/my-http-server .
            echo "Samia@1998" | docker login -u "pk051098" --password-stdin
            docker push pk051098/my-http-server
      - deploy_first_app:
          requires:
            - build_and_deploy_second_app
    environment:
      DOCKER_USERNAME: pk051098

  build_and_deploy_second_app:
    docker:
      - image: docker:20.10.8
    working_directory: /app2
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.8
      - run:
          name: Build and Push Docker Image
          command: |
            docker build -t pk051098/my-message-reverser .
            echo "$Samia@1998" | docker login -u "pk051098" --password-stdin
            docker push pk051098/my-message-reverser
      - deploy_second_app
    environment:
      DOCKER_USERNAME: pk051098

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_and_deploy_first_app
      - build_and_deploy_second_app:
          requires:
            - build_and_deploy_first_app

